<main>
    <div id="cab">
        <h1 mat-dialog-title>Login</h1>
    </div>
    <div mat-dialog-content>
        <div class="container">

            <form [formGroup]="loginForm" class="form-horizontal">
                <div class="form-group">

                    <input type="text" formControlName="email" name="email" class="mt-1 form-control " id=""
                        placeholder="Usuario">
                </div>
                <div class="form-group">

                    <input type="password" formControlName="password" name="password" class="mt-1 form-control " id=""
                        placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <div class="fuller-button" (mouseenter)="sonarHover()" (click)="login(loginForm.value)">
                        Iniciar
                    </div>
                </div>

            </form>
        </div>
    </div>
</main>

<audio #click src="../../../assets/sonidos/click.mp3" autostart="false"></audio>
<audio #hover src="../../../assets/sonidos/hover.mp3" volume="0.0" autostart="false"></audio>