
  main,h1 {
    text-align: center;
    font-family: "fuentegame";
    

     .fuller-button {
      color: black;
      background: none;
      border-radius: 0;
      padding: 1.2em 0.8em;
      letter-spacing: 0.25em;
      transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
      box-shadow: inset 0 0 0.5em #3C4473, 0 0 0.5em #3C4473;
      border: #3C4473 solid 2px;
      margin-top: 1em;
   
      &:hover {
        background-color: rgb(198, 216, 239);//#A2F2EA;
        box-shadow: inset 0 0 0 #3C4473, 0 0 1.5em #3C4473;
        cursor: pointer;
      }
    }

  }
  



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
    .fuller-button{
      font-size: 0.9em;
    
    }
 
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .fuller-button{
      font-size: 1.1em;
    
    }
   
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .fuller-button{
      font-size: 1.2em;
    
    }
   
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .fuller-button{
      font-size: 1.3em;
    
    }
   
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
    .fuller-button{
      font-size: 1.4em;
    
    }
   
  }


