// CSS Reset, comment out if not required or using a different module
/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: "fuentegame";
    src: url("assets/fuentes/Quantico-Regular.ttf");
    font-weight: bold;

  }



body { 
  
    background: radial-gradient(circle, rgba(13,13,13,1) 0%, rgba(196,199,242,1) 0%, rgba(60,68,115,1) 110%);
   
    ;margin: 0 auto;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

h1,h2,h3,h4,h5{
  font-family: "fuentegame";

}
input[type=radio] {
  width: 20px;
  height: 20px;
}

input[type=checkbox] {
  width: 40px;
  height: 40px;
  // margin-right: 20px;
}


.custom-dialog-container .mat-dialog-container {

  background: radial-gradient(circle, rgba(13,13,13,1) 0%, rgba(196,199,242,1) 0%, rgba(60,68,115,1) 170%);
  margin: auto;
  /* add your styles */  
}


@media only screen and (min-width: 390px) {
  .cabecera-puntuaciones{
    font-size: 1em;
  }

  .puntuaciones,.texto-acercade{
    font-size: 0.8em;    
    }

    .texto-administracion{
      font-size: 1em
    }

    .texto-ajustes{
      font-size: 1em;
    }

    .tipo-ajuste{
      font-size: 1.5em;
    }

}
@media only screen and (max-width: 390px) {

  .inputs-modificar{
    width: 160px;
  }

  .fuller-button, .fuller-button2{
    font-size: 0.85em;
  }


  .cabecera-puntuaciones{
    font-size: 1em;

  }
  .texto-movil{
    font-size: 0.85em;
  }

 .tamaño-tabla-preguntas{
    height: 21rem;
  }
}

@media only screen and (max-width: 414px) and (min-width:390px) {
  .tamaño-tabla-preguntas{
    height: 22rem;
  }
}

@media only screen and (min-width:415px) {

.tamaño-tabla-preguntas{
  height: 28rem;
}
.row-administracion3{
  display: none;
}

.cabpun1{
  display: block;
}
.cabpun2{
  display: none;
}

.row-modif-2{
  display: none;
}
.row-modif-1{
  display: block;
}

.row-ajustes1{
  display: block;
}
.row-ajustes2{
  display: none;
}

}


@media only screen and (max-width: 414px) {

  .row-administracion2{
    display: none;
  }
  .row-administracion1{
    display: none;
  }
  .row-administracion3{
    display: block;
  }

  .row-ajustes2{
    display: block;
  }
  .row-ajustes1{
    display: none;
  }

  .cabpun1{
    display: none;
  }
  .cabpun2{
    display: block;
  }
  .row-modif-2{
    display: block;
  }
  .row-modif-1{
    display: none;
  }
  

.fuller-button, .fuller-button2{
font-size: 0.7em;
}
.texto-movil{
  font-size: 0.95em;
}

}



@media only screen and (max-height: 740px) and (max-width: 575px) and (orientation:portrait) {
  #template-botones{
    margin-top: 2rem;
  }
 

  .fila-cronometro-movil{
    display: block;
  }

   
}


@media only screen and (max-height: 740px) and (max-width: 575px) and (orientation:landscape) {
 
  .cronometro-row2{
    display: block;
    }
   
}


@media only screen and (max-width: 574px) and (min-width:391px) {
  .inputs-modificar{
    width: 180px;
  }
  
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
   
  .btn-comodin{
    font-size: 0.8em;
  }
  
.custom-dialog-container .mat-dialog-container {

  width: 17rem;
  /* add your styles */
}




  
.cronometro-row2{
  display: none;
  }

.vista{
  padding-top: 3rem;
}
#img-logo{
  display: none;
}

}


@media only screen and (min-width: 575px) {
  .fila-cronometro-movil{
    display: none;
  }


}









/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .custom-dialog-container .mat-dialog-container {

    width: 18rem;

    /* add your styles */
  }

  
  .nuevo-btn-salir{
    display: block;
  }
  // #img-logo{
  //   display: none;
  // }

  

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .cabecera-puntuaciones{
    font-size: 1.6em;
  }

  .texto-ajustes{
    font-size: 1.2em;
  }

  .puntuaciones,.texto-acercade{
    font-size: 1.1em;    
    }

    .texto-administracion{
      font-size: 1.1em
    }


    .tipo-ajuste{
      font-size: 1.3em;
    }
  

  .custom-dialog-container .mat-dialog-container {

    width: 19rem;

    /* add your styles */
  }
  .nuevo-btn-salir{
    display: none;
  }
 

  
  // #img-logo{
  //   display: block;
  // }

  
 
}

@media only screen and (max-width: 992px) and (min-width: 415px) {

.row-administracion2{
  display: block;
}
}



@media only screen and (max-width: 991px) and (min-width:575px) {
  .inputs-modificar{
    width: 180px;
  }
  
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {


  
 
  #saldo-acumulado{
    font-size: 0.8em
  }

  .row1{
    display: none;

  }

  .row2{
    display: block;
  }


  .row-administracion1{
    display: none;
  }
 
 
  .cronometro-row2{
    margin: 0 auto;
    border-style: groove;
    border-width: 0.5rem;
    border-color: rgba(60,68,115,1);
    font-size: 1.5em;
    padding: 0.5rem;
    border-radius: 7px;
  }

 
  
}

@media only screen and (min-width: 575px) and (max-width:992) {


}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {

  .inputs-modificar{
    width: 210px;
  }
  

  .cabecera-puntuaciones{
    font-size: 2em;
  }
  .texto-ajustes{
    font-size: 1.4em;
  }

  .puntuaciones,.texto-acercade{
    font-size: 1.3em;    
    }
    .texto-administracion{
      font-size: 1.2em
    }


    .tipo-ajuste{
      font-size: 1.5em;
    }
  

  .custom-dialog-container .mat-dialog-container {
    width: 21rem;


    /* add your styles */
  }

  .fuller-button, .fuller-button2{
    font-size: 0.85em;
    }
  
  .nuevo-btn-salir{
    display: none;
  }
  .row2{
    display: none;
  }
  .row-administracion2{
    display: none;
  }
  

  #cronometro{
    margin: 0 auto;
     border-style: groove;
     border-width: 0.5rem;
     border-color: rgba(60,68,115,1);
     font-size: 2.5em;
     padding: 0.5rem;
     border-radius: 7px;
    }
   

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  

 


  .custom-dialog-container .mat-dialog-container {

    width: 22rem;

    /* add your styles */
  }
  .nuevo-btn-salir{
    display: none;
  }

  
}

@media only screen and  (min-width: 1200px) and (max-height: 800px) {

  #logo{
    width: 60vh;
  }
  

}




@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0);
  }

}

@keyframes slideup {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }

}

@keyframes slideright {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }

}

@keyframes scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }

}

@keyframes scaleup-circle {
  from {
    transform-origin: top;
    transform: scale(0) translateY(-50%) rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: scale(1) translateY(-50%) rotate(360deg);
  }

}




