/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: "fuentegame";
    src: url("assets/fuentes/ARCADECLASSIC.TTF");
    font-weight: bold;
  }


html, body { height: 100%;  }
body { 
    background: rgb(13,13,13);
    background: radial-gradient(circle, rgba(13,13,13,1) 0%, rgba(196,199,242,1) 0%, rgba(60,68,115,1) 110%);
   
    ;margin: 0 auto;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

.custom-dialog-container .mat-dialog-container {

  background: radial-gradient(circle, rgba(13,13,13,1) 0%, rgba(196,199,242,1) 0%, rgba(60,68,115,1) 170%);

  /* add your styles */
}


@media only screen and (max-width: 390px) {

  .fuller-button, .fuller-button2{
    font-size: 0.85em;
  }


}

@media only screen and (max-width: 414px) {

.fuller-button, .fuller-button2{
font-size: 0.7em;
}


}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
   
  
.custom-dialog-container .mat-dialog-container {

  width: 17rem;


  /* add your styles */
}


.vista{
  padding-top: 3rem;
}


// #img-logo{
//   display: none;
// }


#logo{
  width: 60%;
}

// .columna2,.columna3{
//   display: none;
// }


}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .custom-dialog-container .mat-dialog-container {

    width: 18rem;

    /* add your styles */
  }
  
 
  .nuevo-btn-salir{
    display: block;
  }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .custom-dialog-container .mat-dialog-container {

    width: 19rem;

    /* add your styles */
  }
  .nuevo-btn-salir{
    display: none;
  }

 
 
 
 
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .row1{
    display: none;

  }

  .row2{
    display: block;
  }

 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .custom-dialog-container .mat-dialog-container {
    width: 21rem;


    /* add your styles */
  }

  .fuller-button, .fuller-button2{
    font-size: 0.85em;
    }
  
  .nuevo-btn-salir{
    display: none;
  }

  
  .row2{
    display: none;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .custom-dialog-container .mat-dialog-container {

    width: 22rem;

    /* add your styles */
  }
  .nuevo-btn-salir{
    display: none;
  }

  
}

@media only screen and  (min-width: 1200px) and (max-height: 800px) {

  #logo{
    width: 60vh;
  }
 
 
 
 

}




@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0);
  }

}

@keyframes slideup {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }

}

@keyframes slideright {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }

}

@keyframes scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }

}

@keyframes scaleup-circle {
  from {
    transform-origin: top;
    transform: scale(0) translateY(-50%) rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: scale(1) translateY(-50%) rotate(360deg);
  }

}





