/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: "fuentegame";
    src: url("assets/fuentes/ARCADECLASSIC.TTF");
    font-weight: bold;
  }


html, body { height: 100%;  }
body { 
    background: rgb(13,13,13);
    background: radial-gradient(circle, rgba(13,13,13,1) 0%, rgba(196,199,242,1) 0%, rgba(60,68,115,1) 110%);
   
    ;margin: 0 auto;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    
}

.custom-dialog-container .mat-dialog-container {

  background: radial-gradient(circle, rgba(13,13,13,1) 0%, rgba(196,199,242,1) 0%, rgba(60,68,115,1) 170%);

  /* add your styles */
}


@media only screen and (max-width: 390px) {

  .fuller-button, .fuller-button2{
    font-size: 0.85em;
  }

  .texto-movil{
    font-size: 0.85em;
  }

  
}

@media only screen and (max-width: 414px) {

.fuller-button, .fuller-button2{
font-size: 0.7em;
}
.texto-movil{
  font-size: 0.95em;
}


}



@media only screen and (max-height: 740px) and (max-width: 575px) and (orientation:portrait) {
  #template-botones{
    margin-top: 2rem;
  }
 

  .fila-cronometro-movil{
    display: block;
  }

   
}


@media only screen and (max-height: 740px) and (max-width: 575px) and (orientation:landscape) {
 
  .cronometro-row2{
    display: block;
    }
   
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
   
  .btn-comodin{
    font-size: 0.8em;
  }
  
.custom-dialog-container .mat-dialog-container {

  width: 17rem;
  /* add your styles */
}

  
.cronometro-row2{
  display: none;
  }

.vista{
  padding-top: 3rem;
}
#img-logo{
  display: none;
}



}
@media only screen and (min-width: 575px) {
  .fila-cronometro-movil{
    display: none;
  }
  
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
  }
  




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .custom-dialog-container .mat-dialog-container {

    width: 18rem;

    /* add your styles */
  }

 
  .nuevo-btn-salir{
    display: block;
  }
  // #img-logo{
  //   display: none;
  // }

 
  

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .custom-dialog-container .mat-dialog-container {

    width: 19rem;

    /* add your styles */
  }
  .nuevo-btn-salir{
    display: none;
  }

  
  // #img-logo{
  //   display: block;
  // }

  
 
 
 
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
 
  #saldo-acumulado{
    font-size: 0.8em
  }

  .row1{
    display: none;

  }

  .row2{
    display: block;
  }

  .cronometro-row2{
    margin: 0 auto;
    border-style: groove;
    border-width: 0.5rem;
    border-color: rgba(60,68,115,1);
    font-size: 1.5em;
    padding: 0.5rem;
    border-radius: 7px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
  .custom-dialog-container .mat-dialog-container {
    width: 21rem;


    /* add your styles */
  }

  .fuller-button, .fuller-button2{
    font-size: 0.85em;
    }
  
  .nuevo-btn-salir{
    display: none;
  }
  .row2{
    display: none;
  }

  #cronometro{
    margin: 0 auto;
     border-style: groove;
     border-width: 0.5rem;
     border-color: rgba(60,68,115,1);
     font-size: 2.5em;
     padding: 0.5rem;
     border-radius: 7px;
    }
  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .custom-dialog-container .mat-dialog-container {

    width: 22rem;

    /* add your styles */
  }
  .nuevo-btn-salir{
    display: none;
  }

  
}

@media only screen and  (min-width: 1200px) and (max-height: 800px) {

  #logo{
    width: 60vh;
  }
  

}




@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translateY(0);
  }

}

@keyframes slideup {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }

}

@keyframes slideright {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }

}

@keyframes scaleup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }

}

@keyframes scaleup-circle {
  from {
    transform-origin: top;
    transform: scale(0) translateY(-50%) rotate(0deg);
  }
  to {
    transform-origin: center;
    transform: scale(1) translateY(-50%) rotate(360deg);
  }

}





