<main>
    <div id="cab">
        <h3 class="text-center">Dinero acumulado</h3>
    </div>
    <div class="dinero-acumulado mt-3" mat-dialog-content>
        <!-- EL DINERO SE COLOCA EN UN SPAN APARTE YA QUE SE TIENE QUE OBTENER -->
        <!-- PARA GUARDARSE EN UNA VARIABLE NUMERICA -->
        <p #pregunta12><span id="pregunta12">1.000.000</span> €</p>
        <p #pregunta11><span id="pregunta11">500.000</span> €</p>
        <p #pregunta10><span id="pregunta10">250.000</span> €</p>
        <p #pregunta9><span id="pregunta9">150.000</span> €</p>
        <p #pregunta8><span id="pregunta8">75.000</span> €</p>
        <p #pregunta7><span id="pregunta7">35.000</span> €</p>
        <p #pregunta6><span id="pregunta6">15.000</span> €</p>
        <p #pregunta5><span id="pregunta5">5.000</span> €</p>
        <p #pregunta4 class="seguro1"><span id="pregunta4">1.000</span> €</p>
        <p #pregunta3><span id="pregunta3">500</span> €</p>
        <p #pregunta2><span id="pregunta2">250</span> €</p>
        <p #pregunta1><span id="pregunta1">100</span> €</p>
    </div>
    <div class="fuller-button" (mouseenter)="sonarHover()" (click)="aceptarComodin()">
        Aceptar
    </div>
</main>

<audio #click src="../../../assets/sonidos/click.mp3" autostart="false"></audio>
<audio #hover src="../../../assets/sonidos/hover.mp3" volume="0.0" autostart="false"></audio>