<div class="container pt-1 ">

    <main>

        <h1 class=" text-center">RANKINGS</h1>
        <h5 class="mb-1 text-center">De las 11 mejores puntuaciones</h5>
        <div id="tabla-puntuaciones">
            <div class="cabpun1">
                <div class="row cabecera-puntuaciones  mb-3" style="border-bottom: 2px; border-bottom-style: solid;">
                    <div class="col-2 ">Usuario</div>
                    <div class="col-5 " style="text-align: right;">Puntuación</div>
                    <div class="col-5 " style="text-align: right;">Comodines Usados</div>
                </div>

                <div id="contenido-tabla" *ngFor="let ranking of rankings">
                    <div class="row puntuaciones">
                        <div class="col-2">{{ranking.usuario}}</div>

                        <!-- ES NECESARIO HACE ESTO PARA QUE APAREZCAN LOS PUNTOS EN LOS NUMEROS -->
                        <div class="col-5  " style="text-align: right;">{{ ranking.dineroAcumulado | number:'':'es'}}
                        </div>
                        <div class="col-5  " style="text-align: right;">{{ ranking.comodinesUsados}}</div>
                    </div>
                </div>
            </div>
            <div class="cabpun2">
                <div class="row cabecera-puntuaciones  mb-3" style="border-bottom: 2px; border-bottom-style: solid;">
                    <div class="col-5 ">Usu.</div>
                    <div class="col-4 " style="text-align: right;">Puntuacion</div>
                    <div class="col-2 " style="text-align: right;">Comod. Usados</div>
                </div>

                <div id="contenido-tabla" *ngFor="let ranking of rankings">
                    <div class="row puntuaciones">
                        <div class="col-5">{{ranking.usuario}}</div>

                        <!-- ES NECESARIO HACE ESTO PARA QUE APAREZCAN LOS PUNTOS EN LOS NUMEROS -->
                        <div class="col-4  " style="text-align: right;">{{ ranking.dineroAcumulado | number:'':'es'}}
                        </div>
                        <div class="col-2  " style="text-align: right;">{{ ranking.comodinesUsados}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-2">

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 ">

                <div class="fuller-button" (mouseenter)="sonarHover()" routerLink="/inicio" (click)="sonarClick()">
                    Volver
                    a inicio

                </div>


            </div>


        </div>

    </main>
</div>


<audio autoplay loop #volumen>
    <source src="../../../assets/sonidos/music1.mp3" type="audio/mpeg">

</audio>

<audio #click src="../../../assets/sonidos/click.mp3" autostart="false"></audio>
<audio #hover src="../../../assets/sonidos/hover.mp3" volume="0.0" autostart="false"></audio>