



<div class="container">

    <main>
        <div class="row">
            <div class="col"></div>
            <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                <img alt="Angular Logo" width="400" class="img-fluid" src="../../../assets/logo3.png">
            </div>
            <div class="col"></div>
        </div>
        <div class="row ">
            <div class="col"></div>

            <div class="col">
                <!-- <a class="btn btn-login btn-lg btn-primary btn-block mt-3" id="entrar" data-target="inicio">Entrar como
                    invitado</a>
                <a class="btn btn-login btn-lg btn-primary btn-block mt-3" id="login" (click)="accederAdmin()"
                    data-target="inicio">Entrar
                    como administrador</a> -->
                    <div class="button-wrapper">

                        <a class="background-button" title="Acceder como invitado" ></a>
                      </div>
                      <div class="button-wrapper">

                        <a class="background-button"  title="Acceder como admin" (click)="accederAdmin()"></a>
                      </div>
                <ng-container *ngIf="acceder">
                    <div class="button-wrapper2">

                        <a class="background-button2" href="#" title="Iniciar sesión"></a>
                      </div>
                      <div class="button-wrapper2">

                        <a class="background-button2" href="#" title="Registrar"></a>
                      </div>
                </ng-container>
            </div>
            <div class="col"></div>

        </div>

    </main>
</div>